
  /* Intro Components */
  .intro-img{

   height: 100vh;
   width: 100%; 


   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   
   justify-content: center;
   display: flex;
  }
  @media only screen and (max-width: 500px) {
    .intro-img {
      background-image: url("/assets/img/Bau/BauMobilInnerPageUpdate.webp") !important;
    }
  }
  .intro-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    
  }
  .intro-button{
  background-color: #171a20cc;
  border: 1px solid #171a20cc;
  border-radius: 24px;
  outline: none;
  padding: 10px 20px;
   color: white;
font-size: 15px;
  }
  /* Banner Components */
  .banner-img{

    height: 100vh;
    width: 100%; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: flex-end;
    display: flex;
   }
   .banner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 24px;
    padding:32px 24px ;
    margin-right: 10px;
  }
  .banner-button{
    border: 1px solid #171a20cc;
    border-radius: 150px;
    padding: 10px 30px;
    background-color: #ffc107;
    color:white;
    font-size: 13px;
  }

  /* Alle Model */
  .allemodel-img{

    height: 100vh;
    width: 100%; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    justify-content: center;
    display: flex;
   }
   .allemodel-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
   
  }
  .allemodel-button{
    margin-top: 40px;
    padding: 10px 60px;
    border: 1px solid #1e1e1e;
    border-radius: 50px;
    font-size: 30px !important;
    color: rgb(0, 0, 0);
  }
  /* Footer Components */ 

  .medium-footer{
    background-image: linear-gradient(to top right, black, gray);
    color: #f8f9fa;
   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 60px;
  }
  .mid-footer-bot{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  .contact-tag{
    font-size: 16px;
    line-height: 1.4;
    font-weight: 600;
  }
  .footer-info{
    font-weight: 700;
    font-size: 15px;
  }
  .footer-contact-title{
    font-weight: 700;
    font-size: 15px;
  }
 .footer-info-text{
  font-size: 15px;
  font-weight: 500;
 }
 .footer-bottom{
  background-color: #262123 !important;
 
 }
 .footer-top{
  display: flex;
  margin-bottom: 40px;
  align-items: center;
  justify-content: center;
 }
 .footer-logo{
  width: 200px;
  height: 120px;
 }
 /* WhyWe Components */ 
 .why-we{
  background-image: linear-gradient(to top right, black, gray);
  height: 500px;
  color: white;
 }
 .whywe-title{
  display: flex;
 justify-content: center;
 flex-direction: column;

 }
 .whywe-icon{
  display: flex;
  justify-content: center;
  align-items: center;
 }
 /* Kontaktt page */

 .contact-page{
  margin-top: 120px;
  
 }
 .contact-title{
  justify-content: center;
  display: flex;
  font-size: 30px;
  font-weight: 600;
  
 }
 .contact-input{
  outline: none; 
  border: 1px solid #dfdfdf;

 }
 .contact-button{
  background-color: #1e1e1e;
  border: 1px solid #1e1e1e; 
  border-radius: 18px;
  color: white;
  padding:4px 0 ;
 }