#custom {
  
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px !important;
    font-weight: 700;
    color: black;
  }
  .direkt-ab{
    font-weight: 700 !important;
    line-height: 1.4 !important
  }
  .motto{
    font-weight: 500 !important;
    font-size: 17px !important;
    line-height: 1.5 !important;
  }